# Logs et caches
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.wrangler/
dist/

# Fichiers de configuration & secrets sensibles
.env
.env.*
.dev.vars
data/.github_token
config/paydunya.json

# Caches et backups locaux
*.bak*
*.temp*
*.test
backups/
data/cache/
data/*.bak*
static/**/*.bak*
lib/*.bak*
data/cache_xmltv.xml.gz

# Fichiers binaires et builds obsolètes
target/
*.exe
data/xtream_users.json
static/data/
